<header class="masthead">
    <div class="masthead-title">
        <a href="{{ '/' | relative_url }}" title="Home"><img src="/assets/logo.png" class="nav-img" alt="logo"> {{ site.title }}</a>
        <small class="tagline">{{ site.tagline }}</small>
        <a href="https://www.guildofstudents.com/studentgroups/societies/photosoc/">
            <img src="/assets/guild-logo.png" class="nav-img" id="guild-logo">
        </a>
    </div>

    {% if site.data.navigation %}
    <nav class="nav">
        <ul class="nav-list">
            {% for item in site.data.navigation %}
            <li class="nav-item">
                <a href="{{ item.url | relative_url }}">
                    {{ item.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    {% endif %}
</header>