#egm-promo {
    text-align: center;
    color: gray;
    img {
        max-width: 500px;
        margin: 0 auto;
    }
}

#egm-promo-link:hover {
    text-decoration: none;
}

.nav-list {
    width: 100%;
    margin-top: 0;
}

.nav-img {
    width: 2em;
    height: 2em;
    display: inline;
}

#guild-logo {
    float: right;
}

#guild-nav {
    float: right;
    margin: 0;
    padding: 0;

    a {
        color: #5BBAA2;
    }

    img {
        margin: 0;
    }
}

.masthead {
    margin-bottom: var(--spacer);
}

#home-carousel {
    height: 375px;
    max-width: 500px;
    margin: 0 auto;
    .carousel-inner {
        max-width: 500px;
    }
}

#home-carousel-description {
    color: gray;
    font-weight: 500;
    font-size: 18px;
    display: block;
    width: 100%;
    text-align: center;
}

.committee-card-header {
    margin-bottom: 1em;
}

.committee-image {
    max-width: 100px;
    max-height: 100px;
    border-radius: 100%;
    margin: 0;
}

.committee-name {
    font-size: 25px;
    font-weight: 700;
}

.committee-pos {
    font-size: 25px;
    font-weight: 500;
    color: grey;
}

#about-img {
    max-width: 500px;
}

.social-link {
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    color: white;
    &:hover {
        text-decoration: none;
        color: white;
    }
}

#facebook-link {
    background-color: #1778F2;
}

#instagram-link {
    background-color: #C13584;
}

#twitter-link {
    background-color: #1DA1F2;
}

#flickr_link {
    background-color: #0063DC;
}
  
.carousel-link {
    color: white;
    text-decoration: none;

    &:hover {
        color: white;
    }
}