.nav-list {
    width: 100%;
    margin-top: 0px;
}

.nav-img {
    width: 2em;
    height: 2em;
    display: inline;
}

#guild-logo {
    float: right;
}

.card {
    border-radius: 10px;
    padding: 0;
}

.committee-image {
    max-width: 100px;
    max-height: 100px;
    border-radius: 100%;
    margin: 0;
}

.committee-name {
    font-size: 25px;
    font-weight: 500;
}

.committee-pos {
    font-size: 18px;
    font-weight: 500;
    color: grey;
}

.instagram {
    color: #833AB4;
}

.instagram:hover {
    color: #C13584;
}