---
layout: page
permalink: /committee/
---

<div class="posts">
    {% assign members = site.data.committee.members %}
    {% for member in members %}
        <div class="post">
            <div class="d-flex flex-row flex-wrap align-items-center committee-card-header">
                {% if member.profile_pic %}
                <img src="{{ member.profile_pic }}" class="committee-image p-3" alt="Profile Picture">
                {% else %}
                <img src="/assets/committee/user.png" class="committee-image p-3" alt="Profile Picture">
                {% endif %}
                <text class="committee-name p-2">{{ member.name }}</text>
                <text class="committee-pos p-2">{{ member.position }}</text>
            </div>
            <blockquote>What's your role on the committee?</blockquote>
            <p>{{ member.role_description }}</p>
            <blockquote>What do you study?</blockquote>
            <p>{{ member.subject }}</p>
            <blockquote>What kind of photography do you like?</blockquote>
            <p>{{ member.favourite_photography }}</p>
            <blockquote>If you could photograph anyone—past or present—who would it be?</blockquote>
            <p>{{ member.dream_subject }}</p>
            {% if member.camera or member.instagram_handle %}
            <hr>
            {% endif %}
            {% if member.camera %}
            <p>📸 {{ member.camera }}</p>
            {% endif %}
            {% if member.instagram_handle %}
            <a href="https://www.instagram.com/{{ member.instagram_handle }}" target="_blank"><i class="fab fa-instagram"></i> @{{ member.instagram_handle }}</a>
            {% endif %}
        </div>
    {% endfor %}
</div>
