---
layout: page
permalink: /committee/
---

<div class="posts">
    {% assign members = site.data.committee.members %}
    {% for member in members %}
        <div class="post">
            <div class="d-flex flex-row align-items-center committee-card-header">
                <img src="{{ member.profile_pic }}" class="committee-image" alt="Profile Picture">
                <text class="committee-name">{{ member.name }}</text>
                <text class="committee-pos">{{ member.position }}</text>
            </div>
            <blockquote>What do you do on the committee?</blockquote>
            <p>{{ member.role_description }}</p>
            <blockquote>What do you study?</blockquote>
            <p>{{ member.subject }}</p>
            <blockquote>What kind of photography do you like?</blockquote>
            <p>{{ member.favourite_photography }}</p>
            <blockquote>If you could photograph anyone—past or present—who would it be?</blockquote>
            <p>{{ member.dream_subject }}</p>
            <hr>
            <p>📸 {{ member.camera }}</p>
            <a href="https://www.instagram.com/{{ member.instagram_handle }}"><i class="fab fa-instagram"></i> @{{ member.instagram_handle }}</a>
        </div>
    {% endfor %}
</div>
