---
layout: page
---

<div id="galleryCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% assign images = site.data.gallery.images %}
        {% for image in images %}
        {% if image.is_active %}
        <div class="carousel-item active">
            <img src="{{ image.url }}" class="d-block w-100" alt="{{ image.instagram_handle }}">
            <div class="carousel-caption d-none d-md-block">
                <a href="https://www.instagram.com/{{ image.instagram_handle }}" class="carousel-link">@{{ image.instagram_handle }}</a>
            </div>
        </div>
        {% else %}
        <div class="carousel-item">
            <img src="{{ image.url }}" class="d-block w-100" alt="{{ image.instagram_handle }}">
            <div class="carousel-caption d-none d-md-block">
                <a href="https://www.instagram.com/{{ image.instagram_handle }}" class="carousel-link">@{{ image.instagram_handle }}</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#galleryCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#galleryCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>